LABTRACK_ENABLE_DEMO_LOGINS=true
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
QUICK_LOGIN_SUPER_ADMIN_EMAIL=superadmin@gmail.com
QUICK_LOGIN_SUPER_ADMIN_PASSWORD=demo123
QUICK_LOGIN_ADMIN_EMAIL=admin@gmail.com
QUICK_LOGIN_ADMIN_PASSWORD=demo123
NEXT_PUBLIC_QUICK_LOGIN_SUPER_ADMIN_EMAIL=superadmin@gmail.com
NEXT_PUBLIC_QUICK_LOGIN_SUPER_ADMIN_PASSWORD=demo123
NEXT_PUBLIC_QUICK_LOGIN_ADMIN_EMAIL=admin@gmail.com
NEXT_PUBLIC_QUICK_LOGIN_ADMIN_PASSWORD=demo123
NEXT_PUBLIC_QUICK_LOGIN_INSTRUCTOR_EMAIL=instructor@gmail.com
NEXT_PUBLIC_QUICK_LOGIN_INSTRUCTOR_PASSWORD=demo123
