EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_QUICK_LOGIN_SUPER_ADMIN_EMAIL=superadmin@gmail.com
EXPO_PUBLIC_QUICK_LOGIN_SUPER_ADMIN_PASSWORD=demo123
EXPO_PUBLIC_QUICK_LOGIN_ADMIN_EMAIL=admin@gmail.com
EXPO_PUBLIC_QUICK_LOGIN_ADMIN_PASSWORD=demo123
EXPO_PUBLIC_QUICK_LOGIN_INSTRUCTOR_EMAIL=instructor@gmail.com
EXPO_PUBLIC_QUICK_LOGIN_INSTRUCTOR_PASSWORD=demo123
