EXPO_PUBLIC_ENABLE_QUICK_LOGIN=true
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_QUICK_LOGIN_SUPER_ADMIN_EMAIL=superadmin@pampangastateu.edu.ph
EXPO_PUBLIC_QUICK_LOGIN_SUPER_ADMIN_PASSWORD=demo123
EXPO_PUBLIC_QUICK_LOGIN_ADMIN_EMAIL=custodian@pampangastateu.edu.ph
EXPO_PUBLIC_QUICK_LOGIN_ADMIN_PASSWORD=demo123
EXPO_PUBLIC_QUICK_LOGIN_INSTRUCTOR_EMAIL=faculty@pampangastateu.edu.ph
EXPO_PUBLIC_QUICK_LOGIN_INSTRUCTOR_PASSWORD=demo123
